<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout (body=~{::body}, menu='Login')}">

<body>
  <h1>Login</h1>
  <div class="container">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Username:</label> <input type="text"
          class="form-control" id="username" name="username" /> <label
          for="username">Password:</label> <input type="password"
          class="form-control" id="password" name="password" />
      </div>
      <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>