<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout (body=~{::body},script=~{::script})}">

<body>

  <div class="container" ng-app="app" ng-controller="home as home">
    <h1>Demo</h1>
    <p>ID: {{home.message.id}}</p>
    <p>Message: {{home.message.msg}}</p>
  </div>

</body>

<!--/*-->
<script th: type="text/javascript"
  src="/webjars/angularjs/angular.min.js"></script>
<!--*/-->
<script type="text/javascript">
    angular.module("app", []).controller("home", function($http) {
        var self = this;
        $http.get("resource").then(function(response) {
            self.message = response.data;
        });
    });
</script>

</html>
