<!doctype html>
<html th:fragment="layout (body)">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Template Home</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css" />
<script async src="/webjars/es-module-shims/dist/es-module-shims.js"></script>
<script type="importmap">
  {
    "imports": {
      "bootstrap": "/webjars/bootstrap/dist/js/bootstrap.min.js",
      "@popperjs/core": "/webjars/dist/esm/popperjs__core/index.js",
      "htmx": "/webjars/htmx.org/dist/htmx.min.js"
    }
  }
</script>
<script type="module">
  import 'bootstrap';
  import 'htmx';
</script>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a href=".">Home</a></li>
    </ul>
  </div>
  <div th:replace="${body}" />
</body>
</html>