{{!
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Faux</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  }} {{#layout}}{{=[[ ]]=}}
  <div class="container" ng-app="app" ng-controller="home as home">
    <h1>Demo</h1>
    <p>ID: {{home.message.id}}</p>
    <p>Message: {{home.message.msg}}</p>
  </div>[[={{ }}=]]
  {{!
  <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
  }} {{#script}}
  <script type="text/javascript">
            angular.module("app", []).controller("home", function($http) {
                var self = this;
                $http.get("resource").then(function(response) {
                    self.message = response.data;
                });
            });
        </script>
  {{/script}} {{/layout}} {{!
</body>
</html>
}}
